.SeriesComponent
{
    display: flex;
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.series-card 
{
  width: 100%; 
  border: 3px solid;
  border-image: linear-gradient(to bottom, red, orange, yellow) 1;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 20px;
  margin: 50px auto;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.series-card > *
{ 
  margin-bottom: 10px; 
}

.series-card h4 
{
  font-size: 1.5em;
  font-weight: bold;
}

.series-card img 
{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p span
{
  color: aquamarine;
}

.p *:nth-child(even)
{
  background-color: greenyellow;
}

.label
{
    visibility: hidden;
}
 
.input 
{
  padding: 10px 15px;
  border: 1px solid #ccc; 
  border-radius: 3px;
  width: 100%; 
  margin: 10px auto;
  box-sizing: border-box;
}

.Submit 
{
  background-color: #007bff; 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer; 
  width: 100%;
  margin: 10px auto;
}

.Submit:hover 
{
    background-color: black;
    opacity: 0.5;
    transform: scale(1); 
}

@media only screen and (max-width: 768px) {
  .series-card {
    flex-direction: column;
    align-items: center;
  }
  .series-card img {
    width: 50%;
    height: auto;
  }
  .series-card h4 {
    font-size: 1.2em;
  }
  .series-card p {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  .series-card {
    padding: 10px;
  }
  .series-card img {
    width: 30%;
    height: auto;
  }
  .series-card h4 {
    font-size: 1em;
  }
  .series-card p {
    font-size: 0.7em;
  }
}